@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
@model Student;

<form aps-action="AddStudent" asp-controller="Student" method="post" encytpe="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="UploadedPhoto"></label>
        <input class="form-control" asp-for="UploadedPhoto" />
    </div>
    
    <div class="form-group">
        <label asp-for="FirstName">First Name</label>
        <input  class="form-control" asp-for="FirstName"  >
       
    </div>
    <br />
    <div class="form-group">
        <label asp-for="LastName">Last Name</label>
        <input  class="form-control" asp-for="LastName" >

    </div>
    <br />

    <div class="form-group">
        <label asp-for="Email">Email</label>
        <input  class="form-control" asp-for="Email" >

    </div>

    <br />
    <div class="form-group">
    <label asp-for="Course">Course</label>
        <select class="form-control" asp-for="Course" asp-items="@Html.GetEnumSelectList(typeof(Course))"></select>
        </div>
    <br />
     <div class="form-group">
        <label asp-for="GPA">GPA</label>
        <input class="form-control" asp-for="GPA">
        </div>
        <br />
    <div class="form-group">
        <label asp-for="AdmissionDate">Admission Date</label>
        <input class="form-control" asp-for="AdmissionDate">

        </div>
        <br />
        <button type="submit" class="btn btn-primary">Submit</button>
</form>